#comp1{

    background-color: rgb(106, 53, 9);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin{
    margin: 50px;
    color: rgb(224, 136, 35);
    background-color: rgb(255, 250, 245);
    border: 2px rgb(255, 254, 254) solid;
}


#count{
    color: aliceblue;
}